.newsletter-container {
    background: linear-gradient(to bottom, #eaf8e8, #ffffff);
    margin:25px 10%;
    text-align: center;
    padding: 50px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  }
  
  .newsletter-container h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  .newsletter-container p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
  }
  
  .newsletter-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px 50px;
  }
  
  .newsletter-input {
    width: 300px;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;
  }
  
  .newsletter-input:focus {
    border-color: #333;
  }
  
  .newsletter-button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .newsletter-button:hover {
    background-color: #444;
  }
  
  .newsletter-button:active{
    background-color: #000;
  }